<div class="register">
  <h1>Register</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <p>
      <mat-error *ngIf="registerResult && !registerResult.success">
        <strong>ERROR</strong>: {{ registerResult.message }}
      </mat-error>
    </p>
    <!-- Email -->
    <mat-form-field>
      <mat-label>Email:</mat-label>
      <input matInput formControlName="email" required placeholder="Insert email" />
      <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        Email is required and must be valid.
      </mat-error>
    </mat-form-field>
    <!-- Password -->
    <mat-form-field>
      <mat-label>Password:</mat-label>
      <input matInput type="password" formControlName="password" required placeholder="Insert Password" />
      <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
        Password is required and must be at least 6 characters.
      </mat-error>
    </mat-form-field>
    <!-- Confirm Password -->
    <mat-form-field>
      <mat-label>Confirm Password:</mat-label>
      <input matInput type="password" formControlName="confirmPassword" required placeholder="Confirm Password" />
      <mat-error *ngIf="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched">
        Confirmation password is required.
      </mat-error>
            <!-- Password Mismatch Error -->
            <mat-error *ngIf="form.hasError('passwordMismatch')">
              Passwords do not match.
            </mat-error>
      
    </mat-form-field>
    <div>
      <button mat-flat-button color="primary" type="submit">
        Register
      </button>
      <button mat-flat-button color="secondary" [routerLink]="['/']">
        Cancel
      </button>
    </div>
  </form>
</div>
